.search-input-wrapper {
	display: flex;
	justify-content: center;
	gap: 10px;
	padding: 30px 0 0;
}

.search-input {
	max-height: 50px;
	border-radius: 10px;
	border: 0.5px solid var(--red-color);
	padding: 5px;
}
